* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}
.site__body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.site-container {
    position: relative;
    padding: 15px;
}
.pd10 {
    padding: 10px;
}
.mt50 {
    margin-top: 50px;
}
.bg-grey {
    background-color: #fbfbfb;
}
.pdr0 {
    padding-right: 0;
}