.site-header {
    font-family: 'AvertaSemiBold';
    background-color: #fff;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 0 50px;
    @include bp($b_laptop) {
        justify-content: space-evenly;
        background-color: rgba(125,125,125,.5);
        position: absolute;
    }
    &__menu {
        display: none;
        @include bp($b_laptop) {
            display: block;
        }
        ul {
            display: flex;
            list-style-type: none;
            li {
                margin: 0 10px;
            }
        }
    }
    .logo {
        max-width: 150px;
        @include bp($b_laptop) {
            max-width: 200px;
        }
    }
    &__burger {
        width: 30px;
        height: 16px;
        position: relative;
        cursor: pointer;
        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            border-radius: 9px;
            background: #000;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2), &:nth-child(3) {
                top: 7px;
            }
            &:nth-child(4) {
                top: 14px;
            }
        }
        @include bp($b_laptop) {
            display: none;
        }
    }
    &.open {
        .site-header__burger {
            span {
                background-color: #000;
                &:nth-child(1) {
                    top: 7px;
                    width: 0;
                    left: 50%;
                }
                &:nth-child(2) {
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
                &:nth-child(4) {
                    top: 7px;
                    width: 0;
                    left: 50%;
                }
            }
        }
    }
    &__mobile__menu {
        display: none;
        // background-color: rgba(125,125,125,.5);
        background-color: #fff;
        ul {
            list-style-type: none;
            li {
                padding: 15px;
            }
        }
    }
}
.page-template-category, .single, .page-template-contact {
    .site-header {
        position: relative;
        background: none;
    }
}