.contact {
    position: relative;
    &__image {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #fff;
            bottom: 0;
            transition: height 1s ease-in-out;
        }
        &.is-visible{
            &:before{
                height: 0;
            }
        }
    }
    &__info {
        padding: 15px;
        line-height: 30px;
        margin-top: 20%;
        &__title {
            font-size: 45px;
            margin-bottom: 40px;
        }
        &__subtitle {
            font-size: 16px;
            text-transform: uppercase;
            &:after {
                content: "";
                display: block;
                width: 200px;
                height: 1px;
                background: #60b7d3;
                margin: 20px 0 20px;
            }
        }
        &__address {
            font-size: 14px;
        }
        &__telephone, &__email {
            span {
                color: #60b7d3;
            }
        }
        &__form-title {
            margin-top: 50px;
            text-transform: uppercase;
            &:after {
                content: "";
                display: block;
                width: 200px;
                height: 1px;
                background: #60b7d3;
                margin: 20px 0 20px;
            }
        }
        &.is-visible {
            @keyframes outer-down {
                from {
                    transform: translateY(100%);
                    opacity: 0;
                }
                to {
                    transform: none;
                    opacity: 1;
                }
            }
        }
    }
    .contact__info {
        animation: outer-down 1s 1s ease both;
    }
}

            